/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include "ergol_aliases.h"

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
            // │Cap│ Q │ C │ O │ P │ W │       │ J │ M │ D │ ★ │ Y │Ctl│
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │Tab│ A │ S │ E │ N │ F │       │ L │ R │ T │ I │ U │Ent│
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │GUI│ Z │ X │ - │ V │ B │       │ . │ H │ G │ , │ K │Alt│
            // └───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┘
            //             ┌───┬───┬───┐       ┌───┬───┬───┐
            //             │Del│   │Bsp│       │Sft│Sym│Esc│
            //             └───┴───┴───┘       └───┴───┴───┘

            bindings = <
&kp CAPSLOCK  &kp EL_Q  &kp EL_C  &kp EL_O          &kp EL_P     &kp EL_W                  &kp EL_J        &kp EL_M  &kp EL_D      &kp EL_1DK   &kp EL_Y  &kp LCTRL
&kp TAB       &kp EL_A  &kp EL_S  &kp EL_E          &kp EL_N     &kp EL_F                  &kp EL_L        &kp EL_R  &kp EL_T      &kp EL_I     &kp EL_U  &kp ENTER
&kp LEFT_GUI  &kp EL_Z  &kp EL_X  &kp EL_MINS       &kp EL_V     &kp EL_B                  &kp EL_DOT      &kp EL_H  &kp EL_G      &kp EL_COMM  &kp EL_K  &kp LEFT_ALT
                                  &mt LCTRL DELETE  &lt 2 SPACE  &mt LEFT_ALT BACKSPACE    &kp LEFT_SHIFT  &mo 1     &lt 3 ESCAPE
            >;
        };

        Sym {
            // ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
            // │   │ ^ │ < │ > │ $ │ % │       │ @ │ & │ * │ ' │ ` │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │   │ { │ ( │ ) │ } │ = │       │ \ │ + │ - │ / │ " │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │   │ ~ │ [ │ ] │ _ │ # │       │ | │ ! │ ; │ : │ ? │   │
            // └───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┘
            //             ┌───┬───┬───┐       ┌───┬───┬───┐
            //             │   │   │   │       │   │   │   │
            //             └───┴───┴───┘       └───┴───┴───┘

            bindings = <
&trans  &kp EL_CIRC  &kp EL_LABK  &kp EL_RABK  &kp EL_DLR   &kp EL_PERC    &kp EL_AT    &kp EL_AMPR  &kp EL_ASTR  &kp EL_QUOT  &kp EL_GRV   &trans
&trans  &kp EL_LCBR  &kp EL_LPRN  &kp EL_RPRN  &kp EL_RCBR  &kp EL_EQL     &kp EL_BSLS  &kp EL_PLUS  &kp EL_MINS  &kp EL_SLSH  &kp EL_DQUO  &trans
&trans  &kp EL_TILD  &kp EL_LBRC  &kp EL_RBRC  &kp EL_UNDS  &kp EL_HASH    &kp EL_PIPE  &kp EL_EXLM  &kp EL_SCLN  &kp EL_COLN  &kp EL_QUES  &trans
                                  &trans       &trans       &trans         &trans       &trans       &trans
            >;
        };

        Nav {
            // ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
            // │   │   │   │ ⎀ │ ⎙ │⌃⌫ │       │ ⇱ │ ⇟ │ ⇞ │ ⇲ │   │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │   │⏯  │⏮  │🕪  │🕩  │⏭  │       │ ← │ ↓ │ ↑ │ → │   │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │F1 │F2 │F3 │F4 │F5 │F6 │       │F7 │F8 │F9 │F10│F11│F12│
            // └───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┘
            //             ┌───┬───┬───┐       ┌───┬───┬───┐
            //             │   │   │   │       │   │   │   │
            //             └───┴───┴───┘       └───┴───┴───┘

            bindings = <
&trans  &kp ESCAPE        &trans          &kp INSERT       &kp PRINTSCREEN    &kp LC(BACKSPACE)    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans   &trans
&trans  &kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp C_NEXT           &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans   &trans
&kp F1  &kp F2            &kp F3          &kp F4           &kp F5             &kp F6               &kp F7    &kp F8         &kp F9       &kp F10    &kp F11  &kp F12
                                          &trans           &trans             &trans               &trans    &trans         &trans
            >;
        };

        Num {
            // ┌───┬───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┬───┐
            // │   │ € │ « │ » │ : │   │       │   │   │   │   │   │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │   │ 1 │ 2 │ 3 │ 4 │ 5 │       │ 6 │ 7 │ 8 │ 9 │ 0 │   │
            // ├───┼───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┼───┤
            // │   │   │   │ . │ / │   │       │   │ , │   │   │   │   │
            // └───┴───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┴───┘
            //             ┌───┬───┬───┐       ┌───┬───┬───┐
            //             │   │ ⍽ │   │       │   │   │   │
            //             └───┴───┴───┘       └───┴───┴───┘

            bindings = <
&trans  &kp EL_EURO  &kp EL_LDAQ  &kp EL_RDAQ  &kp EL_COLN   &trans      &bt BT_SEL 4  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
&trans  &kp EL_1     &kp EL_2     &kp EL_3     &kp EL_4      &kp EL_5    &kp EL_6      &kp EL_7      &kp EL_8      &kp EL_9      &kp EL_0      &trans
&trans  &trans       &trans       &kp EL_DOT   &kp KP_SLASH  &trans      &trans        &kp EL_COMM   &trans        &trans        &trans        &trans
                                  &trans       &kp EL_NNBS   &trans      &trans        &trans        &trans
            >;
        };
    };
};
